body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: 'Black Ops One', cursive;
    color: rgb(223, 201, 5);
    font-size: 60px;
    text-align: center;
}

#small {
    font-size: 20px;
    padding: 0;
}

#logo {
    width: 150px;
}

#videogame {
    padding-top: 30px;
}

canvas {
    border: 1px solid black;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#warrior-life {
    height: 30px;
    width: 260px;
    position: absolute;
    left: 350px;
    top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#giant-life {
    height: 30px;
    width: 260px;
    position: absolute;
    right: 320px;
    top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start-name {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.button {
    padding: 0;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

a {
    position: absolute;
    left: 390px;
    top: 410px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#start {
    padding: 20px;
    position: absolute;
    left: 550px;
    top: 300px;
    text-decoration: none;
    border: 2px solid white;
    color: rgb(253, 253, 253);
    background-color: rgba(21, 80, 190, 0.863);
}

#start:hover {
    background-color: rgba(4, 46, 124, 0.863);
}

#fname {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    left: 550px;
    top: 230px;
    width: 235px;
    text-align: center;
}

#fname::value {
    text-transform: uppercase;
}

#end {
    border: 2px solid white;
    color: rgb(253, 253, 253);
    background-color: rgba(204, 33, 33, 0.863);
}

#win {
    border: 2px solid white;
    color: rgb(253, 253, 253);
    background-color: rgba(30, 138, 2, 0.863);
}

.hiden {
    width: 0;
}

#instructions {
    position: absolute;
    left: 590px;
    top: 500px;
    color: rgb(21, 80, 190);
    font-weight: bold;
    font-size: 20px;
}

#instructions:hover {
    color: rgb(5, 36, 93);
}

#back-to-menu {
    position: absolute;
    left: 590px;
    top: 550px;
    color: rgb(21, 80, 190);
    font-weight: bold;
    font-size: 20px;
}

#back-to-menu:hover {
    color: rgb(5, 36, 93);
}