body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: 'Black Ops One', cursive;
    color: rgb(223, 201, 5);
    font-size: 60px;
    text-align: center;
}

#small {
    font-size: 20px;
    padding: 0;
}

#logo {
    width: 150px;
}

#videogame {
    padding-top: 30px;
}

.board {
    width: 700px;
    height: 550px;
    position: relative;
}

canvas {
    border: 1px solid black;
}



#start {
    padding: 20px;
    position: absolute;
    left: 30%;
    top: 55%;
    text-decoration: none;
    border: 2px solid white;
    color: rgb(253, 253, 253);
    background-color: rgba(21, 80, 190, 0.863);
}

#start:hover {
    background-color: rgba(4, 46, 124, 0.863);
}

#fname {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    left: 30%;
    top: 40%;
    width: 235px;
    text-align: center;
}

#fname::value {
    text-transform: uppercase;
}

#instructions {
    position: absolute;
    left: 37%;
    bottom: 10%;
    color: rgb(21, 80, 190);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#instructions:hover {
    color: rgb(5, 36, 93);
}

#back-to-menu {
    position: absolute;
    left: 37%;
    top: 92%;
    color: rgb(21, 80, 190);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#back-to-menu:hover {
    color: rgb(5, 36, 93);
}



progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
    background-color: rgb(92, 143, 240);
}

#giant {
    transform: rotate(180deg);
}

#giant::-webkit-progress-value {
    background-color: rgb(195, 78, 4)
}

#warrior-life {
    height: 30px;
    width: 35%;
    position: absolute;
    left: 2%;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#giant-life {
    height: 30px;
    width: 35%;
    position: absolute;
    right: 2%;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span {
    font-weight: bold;
}

.start-name {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.button {
    padding: 0;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}



a {
    position: absolute;
    left: 7%;
    bottom: 22%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#end {
    border: 2px solid white;
    color: rgb(253, 253, 253);
    background-color: rgba(204, 33, 33, 0.863);
}

#win {
    border: 2px solid white;
    color: rgb(253, 253, 253);
    background-color: rgba(30, 138, 2, 0.863);
}

.hiden {
    width: 0;
}

.life-border {
    border: 1px solid black;
}